html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Iosevka SS05", monospace;
}

#codecont {
    position: absolute;
    width: 50vw;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

#output {
    position: absolute;
    color: white;
    background: black;
    width: calc(50vw - 30px);
    height: calc(100vh - 30px);
    top: 0;
    right: 0;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: auto;
}

#input {
    font-family: "Iosevka SS05", monospace;
    display: inline-block;
    border: none;
    min-width: 20px;
    margin: 0;
}

.blue {
    color: #66aaff;
}

.red {
    color: #ff6666;
}

#run {
    position: absolute;
    border: none;
    top: 15px;
    width: 50px;
    height: 25px;
    left: calc(50vw - 65px);
    background-color: #ddddff;
    box-shadow: black 4px 4px 8px;
    border-radius: 4px;
    font-family: "Iosevka SS05", monospace;
    font-size: 18px;
}

#run:hover {
    background-color: #a3a3ff;
}

#editor {
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: 15px;
    width: calc(100% - 30px);
    background-color: #121212;
}

table td,
table th {
    border: 2px solid #333333;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #222222;
}

table tr:hover {
    background-color: #333333;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #66aaff;
    color: black;
}