body,
html {
    margin: 0;
    padding: 0;
    font-family: "Encode Sans", sans-serif;
}

._keyword {
    color: #33658A;
}

._string {
    color: #F6AE2D;
}

._function {
    color: #86BBD8;
}

._rule {
    color: #F26419;
}

._feature {
    color: #764134;
}

._const {
    color: #AFA060;
}

h1 {
    font-size: 48px;
    font-weight: 100;
    display: block;
    margin: auto;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-size: 24px;
}

#content {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 15px;
}

#banner {
    display: block;
    width: calc(100% - 100px);
    height: 300px;
    margin: 0;
    padding: 50px;
    background-color: #00072D;
}

#logo {
    display: block;
    height: 150px;
    margin: auto;
    margin-top: 30px;
}

#console-link {
    display: table;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 10px;
    transition: all 0.25s ease-in-out;
}

#console-link:hover {
    color: #A6E1FA;
    border: 1px solid #A6E1FA;
    font-weight: 400;
}

a {
    color: #48BEFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: 500;
}

.content-block {
    margin-bottom: 50px;
}

pre,
code {
    font-family: "Iosevka SS05 Web", monospace;
}

pre {
    border: 1px solid #dddddd;
    padding: 15px;
    margin: 10px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #dddddd;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}