html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Iosevka SS05", monospace;
}

h1 {
    width: calc(100% - 10px);
    margin: 5px;
    margin-top: 10px;
    padding: 0;
    text-align: center;
    color: #66aaff;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#codecont {
    position: absolute;
    width: calc(50vw - 25px);
    top: 0;
    left: 50px;
    bottom: 0;
    margin: 0;
    padding: 0;
}

#nav {
    position: absolute;
    background: #121212;
    height: calc(100vh - 10px);
    width: 40px;
    padding: 5px;
    top: 0;
    left: 0;
    z-index: 10;
}

.file {
    color: white;
    padding: 5px;
    width: calc(100% - 10px);
    background: none;
    display: block;
    text-align: left;
    border: none;
    transition: all 0.5s ease-in-out;
    font-family: "Iosevka SS05", monospace;
}

.file:hover {
    color: #66aaff;
    font-weight: bold;
}

.file i {
    margin-left: 10px;
    margin-right: 10px;
}

#examples {
    position: absolute;
    background: #212121;
    z-index: 5;
    top: 0;
    left: 50px;
    width: 200px;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-shadow: #0f0f0f 0 0 20px;
}

.navbuttons {
    width: 40px;
    height: 40px;
    border: none;
    margin-bottom: 5px;
    background: none;
    color: #444444;
    font-size: 25px;
    padding: 0;
    align-content: center;
    display: block;
    text-align: center;
    transition: all 0.25s ease-in-out;
}

.navbuttons:hover {
    color: #66aaff;
}

#output {
    position: absolute;
    color: white;
    background: black;
    width: calc(50vw - 55px);
    height: calc(100vh - 30px);
    top: 0;
    right: 0;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: auto;
}

#input {
    font-family: "Iosevka SS05", monospace;
    display: inline-block;
    border: none;
    min-width: 20px;
    margin: 0;
    outline: none;
}

input::-moz-focus-inner {
    border: none
}

.blue {
    color: #66aaff;
}

.red {
    color: #ff6666;
}

.green {
    color: #66ff66;
}

.fold {}

#run:hover {
    background-color: #a3a3ff;
}

#editor {
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: 15px;
    width: calc(100% - 30px);
    background-color: #121212;
}

table td,
table th {
    border: 2px solid #333333;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #222222;
}

table tr:hover {
    background-color: #333333;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #66aaff;
    color: black;
}