body,
html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#nav {
    position: absolute;
    left: 0px;
    width: 200px;
    height: 100%;
    overflow: auto;
    background: #141414;
}

details {
    font-family: "Iosevka SS05", monospace;
    margin: 10px;
    color: white;
}

details a {
    color: white;
    text-decoration: none;
}

details a:hover {
    color: white;
    text-decoration: underline;
}

summary {
    font-weight: bold;
}

.nav_lib_link {
    margin: 5px;
}

.nav_method_link {
    margin: 5px;
    margin-left: 25px;
}

.nav_class_link {
    margin: 5px;
}

#cont {
    position: absolute;
    left: 200px;
    width: calc(100% - 200px);
    height: 100%;
    overflow: auto;
}

p {
    margin: 0;
    padding: 0;
}

.lib_key {
    position: -webkit-sticky;
    position: sticky;
    font-weight: bold;
    font-size: 18px;
    background: #141414;
    color: white;
    padding: 15px;
    margin: 0;
    height: 25px;
    top: 0px;
}

.metadata,
.methods,
.classes,
.values {
    margin: 10px;
    /*border: 1px black solid;*/
    padding: 0;
}

.method {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border: 2px #093374 solid;
    border-radius: 5px;
}

.method_head {
    padding: 10px;
    background: #093374;
    color: white;
}

.class {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border: 2px #4076c7 solid;
    border-radius: 5px;
}

.class_head {
    padding: 10px;
    background: #4076c7;
    color: white;
    font-weight: bold;
}

.param_types {
    display: block;
    margin: 10px;
}

.param_type_key,
.value_key {
    background: #eeeeee;
    font-style: italic;
}

.param_type_type {
    color: #0066ff;
    font-weight: bold;
}

.method_body {
    display: block;
    padding: 10px;
}

tr,
td {
    padding: 5px;
    border: 1px solid #aaaaaa;
    margin: 0;
}

.template,
.return_type {
    color: #ffaaaa;
}

.param_modifier,
.class_modifier,
.class_dec {
    color: #ffeaa6;
}

.return_type {
    font-style: italic;
}

.return_arrow {
    color: #667fa5;
}

.lib_name {
    font-size: 24px;
    font-weight: bold;
}

.lib_file {
    font-style: italic;
}

.see_also {
    display: block;
    clear: both;
    margin-top: 10px;
    color: #aaaaaa;
    font-size: 14px;
}

.see_link {
    font-family: "Iosevka SS05", monospace;
    color: #0066ff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.see_link:hover {
    text-decoration: underline;
    font-weight: bold;
}

.imports,
.loads,
.lib_file,
.method_head,
.param_types,
.class_head,
.value_key,
.value_value,
.lib_key,
code {
    font-family: "Iosevka SS05", monospace;
}

.import,
.load,
.value_value {
    color: #0066ff;
}

.import_name,
.load_name {
    color: #1b6338;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.load_name:hover {
    font-weight: bold;
    text-decoration: underline;
}

code {
    border-radius: 5px;
    background: #eeeeee;
    color: #141414;
    padding: 4px;
    font-size: 14px;
}